.logoImage {
  display: inline-block;
  width: 157px;
  height: 29px;
  background: url(/images/logo-sprite.svg) no-repeat 0 -0;
}

.logoContainer:hover .logoImage {
  animation: logo-hover 1s ease-in-out;
}

@keyframes logo-hover {
  0% { background-position: 0 0px; }
  100% { background-position: 0 -116px; }
}
