.sliderParent {
    width: 300%;
    margin-left: -100%;
}

.sliderParent > div {
    padding-bottom: 80px;
}

.sliderSlide > div {
    @apply transition transform translate-y-8;
}

.sliderSlideActive > div {
    @apply translate-y-0;
}

.sliderButton {
    width: 5%;
    height: 80%;
    @apply z-30 absolute transition-opacity transform top-0 focus:outline-none grid items-center;
}

.sliderButtonIcon {
    @apply inline-block text-blue transition shadow bg-white rounded-full p-2 w-10 h-10;
}

.sliderButton:focus .sliderButtonIcon {
    box-shadow: 0 0 0 3px;
}

.sliderPrevButton {
    left: calc(33% + 18px);
    @apply justify-end -translate-x-full;
}

.sliderNextButton {
    right: calc(33% + 18px);
    @apply justify-start translate-x-full;
}

@media screen and (min-width: 640px) {
    .sliderPrevButton {
        left: calc(33% + 18px);
    }

    .sliderNextButton {
        right: calc(33% + 18px);
    }
}

@media screen and (min-width: 960px) {
    .sliderParent {
        width: 200%;
        margin-left: -50%;
    }

    .sliderButton {
        width: 20%;
    }
}

@media screen and (min-width: 1440px) {
    .sliderParent {
        width: 180%;
        margin-left: -40%;
    }
}

@media screen and (min-width: 1920px) {
    .sliderParent {
        width: 120%;
        margin-left: -10%;
    }
}
