.mapParent button:focus {
  @apply focus-offset;
  outline: none;
}

.mapContainer div[class="mapboxgl-ctrl-bottom-left"] {
  top: auto;
  right: 56px;
  left: auto;
  bottom: 10px;
  z-index: 0;
  pointer-events: none;
}
