@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .focus-offset {
    @apply focus:ring-2 focus:ring-offset-white focus:ring-offset-2 focus:outline-none;
  }
  .navigation-link {
    @apply transition font-headline border-purple sm:border-green border-b hover:border-purple hover:text-green sm:px-0 sm:py-0.5 sm:inline-block leading-tight;
  }
  .navigation-link-active {
    @apply decoration-clone text-white bg-purple font-bold border-green hover:text-white hover:bg-purple hover:border-green cursor-default sm:px-2 sm:-ml-2;
  }
  @variants responsive {
    .bg-black-dot-pattern {
      @apply bg-black;
      background-image: url('/images/patterns/black.svg');
    }
    .bg-white-dot-pattern {
      @apply bg-white;
      background-image: url('/images/patterns/white.svg');
    }
    .animate-fade-in {
      opacity: 0;
      animation: fadeIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1 forwards;
    }
    .animate-slide-in {
      opacity: 0;
      animation: slideIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1 forwards;
      transform-origin: 50% 0
    }
  }
}
@layer base {
  @font-face {
    font-family: "Sora";
    src: url("/fonts/Sora-Regular.woff2") format("woff2"),
      url("/fonts/Sora-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Sora";
    src: url("/fonts/Sora-Italic.woff2") format("woff2"),
      url("/fonts/Sora-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: "Sora";  
    src: url("/fonts/Sora-Bold.woff2") format("woff2"),
      url("/fonts/Sora-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Sora";  
    src: url("/fonts/Sora-BoldItalic.woff2") format("woff2"),
      url("/fonts/Sora-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: "SpaceGrotesk";
    src: url("/fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
      url("/fonts/SpaceGrotesk-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "SpaceGrotesk";
    src: url("/fonts/SpaceGrotesk-Italic.woff2") format("woff2"),
      url("/fonts/SpaceGrotesk-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: "SpaceGrotesk";  
    src: url("/fonts/SpaceGrotesk-Bold.woff2") format("woff2"),
      url("/fonts/SpaceGrotesk-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "SpaceGrotesk";  
    src: url("/fonts/SpaceGrotesk-BoldItalic.woff2") format("woff2"),
      url("/fonts/SpaceGrotesk-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
  }
  @font-face {
    font-family: "SpaceGrotesk";  
    src: url("/fonts/SpaceGrotesk-VariableFont_wght.woff2") format("woff2-variations"),
      url("/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
    font-weight: 300 700;
    font-style: normal;
  }
  
  body, html, #__next {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    @apply font-sans;
  }

  html.no-scroll {
    overflow: hidden;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply block w-full border-gray-400 mb-4 text-blue focus:text-blue focus:border-blue focus:ring-blue;
  }

  [type='text'].error,
  [type='email'].error,
  [type='url'].error,
  [type='password'].error,
  [type='number'].error,
  [type='date'].error,
  [type='datetime-local'].error,
  [type='month'].error,
  [type='search'].error,
  [type='tel'].error,
  [type='time'].error,
  [type='week'].error,
  [multiple].error,
  textarea.error,
  select.error {
    @apply border-error focus:border-error focus:ring-error;
  }

  [type='text']:disabled,
  [type='email']:disabled,
  [type='url']:disabled,
  [type='password']:disabled,
  [type='number']:disabled,
  [type='date']:disabled,
  [type='datetime-local']:disabled,
  [type='month']:disabled,
  [type='search']:disabled,
  [type='tel']:disabled,
  [type='time']:disabled,
  [type='week']:disabled,
  [multiple]:disabled,
  textarea:disabled,
  select:disabled {
    @apply opacity-50;
  }

  [type='checkbox'],
  [type='radio'] {
    @apply mr-2 transform translate-y-0.5 border-gray-400 text-blue focus:ring-blue;
  }

  [type='checkbox'].error,
  [type='radio'].error {
    @apply border-error text-error focus:ring-error;
  }

  p {
    @apply max-w-prose;
  }
  
  @keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 100; }
  }

  @keyframes slideIn {
    0%   { opacity: 0;   transform: translate(0, 20px) scale(0.99) }
    100% { opacity: 100; transform: translate(0, 0)    scale(1.00) }
  }
}
