.wrapper {
  --pixelSize: 58px;
  transform: translate(calc(2 * var(--pixelSize, 58px)), calc(6 * var(--pixelSize, 58px)));
}

@media screen and (max-width: 1280px) {
  .wrapper {
    transform: translate(calc(3 * var(--pixelSize, 58px)), calc(6 * var(--pixelSize, 58px)));
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    transform: translate(calc(3 * var(--pixelSize, 58px)), calc(7 * var(--pixelSize, 58px)));
  }

  .hiddenSmall {
    display: none;
  }
}
