.gridContainer {
    grid-template-areas:
        'title-1'
        'description-1'
        'list-1'
        'title-2'
        'description-2'
        'list-2'
        'title-3'
        'description-3'
        'list-3'
        'title-4'
        'description-4'
        'list-4'
}

@media screen and (min-width: 640px) {
    .gridContainer {
        grid-template-areas:
            'title-1 title-2'
            'description-1 description-2'
            'list-1 list-2'
            'title-3 title-4'
            'description-3 description-4'
            'list-3 list-4';
    }
}

@media screen and (min-width: 1024px) {
    .gridContainer {
        grid-template-areas:
            'title-1 title-1 title-2 title-2 title-3 title-3 title-4 title-4 title-4'
            'description-1 description-1 description-2 description-2 description-3 description-3 description-4 description-4 description-4'
            'list-1 list-1 list-2 list-2 list-3 list-3 list-4 list-4 list-4';
    }
}